.join{
    display: flex;
    gap: 10rem;
    padding: 0 2rem;
}

.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
}

.left-j>hr{
    position: absolute;
    border: 2px solid var(--orange);
    width: 10.5rem;
    border-radius: 20%;
    margin: -10px 0 ;
}

.right-j{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.email-container{
    display: flex;
    padding: 1rem 2rem;
    background-color: var(--gray);
    gap: 3rem;
}

.email-container>input{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--lightgray);
}

::placeholder{
    color: var(--lightgray);
}

.btnjoin{
    background-color: var(--orange);
}

